@import url("https://fons.googleapis.com/css2?family=poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,9008display=swap");

*{
    font-family: "poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1f2937;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background: #111827;
    padding: 30px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.cals-text{
    margin-bottom: 20px;
    padding: 10px;
    background-color: #1f2937;
    border-radius: 10px;
}

.cals-text p{
    width: 100%;
    font-size: 3rem;
    text-align: end;
    color: #d1d5db;
    word-wrap: break-word;
    word-break: break-all;
}

button{
    font-size: 1.5rem;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    height: 65px;
    width: 65px;
    transition: 0.2s;
}

button:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

.cals-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.key-zero{
    grid-column: span 2;
    width: 100%;
    border-radius: 14px;
}

.key-operate{
    background: #14b8a6;
    color: #fff;
}

.key-others{
    background: #374151;
    color: #e5e5eb;
}

.numbers{
    background: #1f2937;
    color: #f3f4f6;
}

button:active{
    transform: scale();
}